<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pixelwood</title>
    <meta charset="UTF-8">
    <meta name="description" content="An Online RPG Game">
    <meta name="keywords" content="Online, RPG, Game">
    <meta name="author" content="JoshKeesee">
    <link rel="stylesheet" href="./admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="manifest" href="./manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="./images/pixelwood-logo.png">
    <link rel="shortcut icon" href="./images/pixelwood-logo.png" type="image/x-icon">
    <meta name="theme-color" content="indigo">
  </head>

  <body>
    <div class="content"></div>
    
    <script src="./socket.io/socket.io.js"></script>
    <script src="./modules/admin.js"></script>
  </body>
</html>